body {
	background-color: #d1f4ff;
}
h3 {
	background-color: cornflowerblue;
	padding: 20px;
	padding-right: 60px;
	border: 1px solid black;
	font-family: sans-serif;
	font-size: 30px;
}
h1 {
	font-size: 40px;
	font-family: Helvetica
}
h2 {
	text-decoration: underline;
	color: #282b61;
	font-size: 35px;
	font-family: Helvetica;
	padding-left: 60px;
}
a {
	color: lightgoldenrodyellow;
	
}
a:hover {
		color: #ffef78;
}
p {
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-right: 600px;
	padding-left: 60px;
}
ul {
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-right: 600px;
	padding-left: 60px;
}
table {
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 8px;
	letter-spacing: 1px;
	font-size: 20px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	padding-right: 600px;
	padding-left: 60px;
}
td {
	border: 1px solid black;
	padding: 4px 
}
img {
	padding-right: 60px;
}
.footer {
	position: fixed;
	text-align: center;
}
.column {
	float: left;
	width: 33.33%;
}
.row:after {
	content: "";
	display: table;
	clear: both;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
.container {
	text-align: center;
}